body {
    background-color: rgb(231, 225, 231);
    place-items: center;
    
}

.sport-container {
    margin: 20px 0px;
    text-align: center;
}
.sport-date {
    color: rgb(28, 28, 214);
}
.sport-title {
    color: rgb(220, 20, 203);
    font-weight: bolder;
    font-size: 18px;
}
.sport-side-url {
    color: rgb(0, 92, 134);
    font-size: 18px;
    font-weight: bold;
}
.sport-scoreboard {
    color: rgb(66, 141, 22);
    font-size: 18px;
}
.sport-livestream {
    color: rgb(255, 0, 0);
    font-size: 18px;
}
.sport-status {
    color:rgb(128, 0, 202);
    font-size: 18px;
}
.sport-video {
    max-width: 750px;
    margin: 0px auto;
   
}


.page-div{
  position: sticky;
 top: 5px;
 background-color: rgb(0, 96, 134);
 padding: 10px;
}
button{
    background-color: rgb(158, 17, 17);
    border-radius: 5px;
    padding: 10px;
    color: rgb(181, 192, 182);
    border-radius: 8px;
    margin: 2px;
}
.clickedpagebutton{
    background-color: rgb(148, 143, 137);
    padding: 10px;
    color: rgb(109, 0, 103);
}
.page-button {
    padding: 10px;

}
